.App {
  text-align: center;
}

nav {
  background-color: #3f51b5;
  padding: 1rem;
}

nav h2 {
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
